/* rock paper scissor CSS */

.body1 {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: arial;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-btn {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 90px;
  width: 100px;
  height: 100px;
  margin: 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 50px;
}

.reset-btn,
.auto-play {
  background-color: white;
  border: none;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}